<!-- todo add dark theme-->

<!-- container -->
<div class="container pt-5 min-vh-100 bg-light">
  <!-- app title -->
  <h1 class="text-center">{{title}}</h1>
  <!-- line -->
  <hr class="bg-primary">
  <!-- note container -->
  <div class="d-flex flex-wrap px-4">
    <!--  note item,s  -->
    <app-note-item *ngFor="let note of notes; let i = index" [itemIndex]="i" [noteItem]="note" (dellItemId)="onDellItem($event)"></app-note-item>
  </div>
  <!-- add btn -->
  <app-add-btn (newNoteData)="onNewNote($event)" [nId]="notes.length"></app-add-btn>
  <!-- modal window -->

</div>
