<!-- todo add dark theme-->

<!-- container -->
<div class="container pt-5 min-vh-100 bg-light">
  <!-- app title -->
  <h1 class="text-center">{{title}}</h1>
  <!-- line -->
  <hr class="bg-primary">
  <!-- note container -->
  <div class="d-flex flex-wrap px-4">
    <!--  note item,s  -->
    <div class="border rounded border-success m-3 p-3">
      <h2>Note Name</h2>
      <p>Note text</p>
    </div>

  </div>
<!-- add btn -->
  <button class="btn add-btn border rounded-circle border-info">n</button>
</div>
