.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;
  padding: 0;
  background: transparent;

  position: fixed;
  bottom: 4rem;
  right: 4rem;
  transform: scale(3);
  opacity: .6;

  &:hover {
    opacity: 1;
  }
}
